.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
button {
  margin-top: 1rem;
}
mat-icon {
  margin-left: 0.5vw;
  align-items: stretch;
}
input {
  border-radius: 5px;
}
